@media (max-width: 1200px){
	.content-mask-url-container {
		float: none;
		width: 100%;
		clear: both;
		padding-top: 24px;
	}

	.content-mask-method-container {
		left: 115px;
		right: auto;
		width: calc( 100% - 151px );
	}

	.content-mask-method-container .content-mask-select {
		width: 100%;
	}

	.content-mask-expiration-div {
		text-align: left;
	}

	.content-mask-expiration-header {
		right: auto;
		left: 0;
	}

	.content-mask-expiration-container {
		display: inline-block;
		width: calc( 100% - 255px );
	}

	.content-mask-expiration-container .content-mask-select {
		width: 100%;
	}
}

@media (max-width: 1024px){
	body.toplevel_page_content-mask #header-nav {
		display: none;
		position: absolute;
		top: 54px;
		right: 0px;
		background: #0095ee;
		width: auto;
		max-width: 200px;
		z-index: 99999;
	}

	body.toplevel_page_content-mask #header-nav .button {
		display: block;
		width: 100%;
		padding: 10px 10px 10px 28px;
		height: auto;
	}

	body.toplevel_page_content-mask #mobile-nav-toggle {
		display: inline-block;
		float: right;
	}

	// Make Table Mobile Friendly-ish
	.content-mask-panel tr {
		display: block;
		border-bottom: 1px solid #ccc;
    	margin-bottom: 12px;
	}

	.content-mask-panel td {
		display: inline-block;
		box-sizing: border-box;
	}

	.content-mask-panel td.method {
		width: 86px;
		height: 86px;
		float: left;
	}

	.content-mask-panel td.status {
		width: auto;
		height: 86px;
		float: left;
	}

	.content-mask-panel td.info {
		width: 100%;
		display: block;
		clear: both;
	}

	.content-mask-panel td.type {
		width: auto;
		float: left;
	}

	.content-mask-panel td.more {
		display: block;
		width: 100%;
	}

	.content-mask-panel td.more:after {
		content: "";
		display: block;
		clear: both;
	}

	.content-mask-panel .more > div {
		float: right;
	}
}

@media (max-width: 600px){
	body.toplevel_page_content-mask #header-nav {
		top: 100px;
	}

	body.toplevel_page_content-mask .inner {
		padding: 10px 20px;
	}
}

@media (max-width: 520px){
	.content-mask-expiration-div {
		text-align: left;
	}

	.content-mask-method-container,
	.content-mask-expiration-container {
		position: relative;
		left: 0;
		width: 100%;
	}

	.content-mask-select {
		width: 100%;
	}
	
	.content-mask-enable-container {
		float: none;
		margin-bottom: 24px;
		margin: 0 auto 24px;
	}
}