.hide-overflow {
  overflow: hidden !important; }

.wp-core-ui .svg-icon-button {
  position: relative;
  padding-left: 28px; }

.wp-core-ui .svg-icon-button-left {
  padding-left: 28px; }

.wp-core-ui .svg-icon-button-right {
  padding-right: 28px; }

.wp-core-ui .svg-icon-button svg {
  width: 14px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 8px;
  stroke: #0095ee; }

.wp-core-ui .svg-icon-button-left svg {
  left: 8px; }

.wp-core-ui .svg-icon-button-right svg {
  right: 8px; }

.gutenberg-editor-page.content-mask-enabled-page .gutenberg:not(.content-mask-unchecked) .edit-post-visual-editor,
.gutenberg-editor-page.content-mask-enabled-page .gutenberg:not(.content-mask-unchecked) .edit-post-text-editor {
  display: none; }

.gutenberg-editor-page.content-mask-enabled-page .gutenberg .edit-post-meta-boxes-area {
  margin-top: 55px; }

#content-mask-settings {
  letter-spacing: 1.35px;
  background: #085078;
  background: linear-gradient(45deg, #95b8cc, #567e94);
  width: calc( 100% - 48px );
  margin: -6px -12px -12px;
  padding: 36px 36px 12px; }

.content-mask-enable-container {
  width: 56px;
  margin-right: 24px;
  float: left; }

.content-mask-method-container {
  width: 210px;
  position: absolute;
  right: 36px;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.5);
  z-index: 10; }

.content-mask-expiration-div {
  text-align: right;
  position: relative;
  z-index: 9; }

.content-mask-expiration-container {
  position: absolute;
  text-align: left;
  right: 0;
  z-index: 10;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.5);
  max-height: 265px;
  overflow-y: auto; }

.content-mask-url-container {
  width: calc( 100% - 310px );
  float: left; }

.content-mask-expiration-header {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  position: relative;
  right: 215px; }

.content-mask-expiration-container {
  display: inline-block; }

.content-mask-checkbox > input {
  display: none !important; }

.content-mask-check {
  transform: scale(1.2);
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  vertical-align: middle;
  cursor: pointer;
  transition: border .3s ease;
  width: 52px;
  height: 52px;
  position: relative;
  border: 2px solid #fff; }

.content-mask-panel .content-mask-check {
  margin-right: 12px;
  transform: scale(1);
  border: 2px solid #eee; }

.content-mask-checkbox[data-attr="enabled"] .content-mask-check {
  border-color: #fff; }

.content-mask-option .content-mask-value {
  text-transform: capitalize; }

.content-mask-check svg {
  opacity: 0.2;
  stroke: #333;
  transition: opacity .3s .1s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 66.66%;
  height: 66.66%; }

.content-mask-checkbox input:checked + .content-mask-check,
.content-mask-option .content-mask-checkbox[data-attr="enabled"] input + .content-mask-check {
  background: #0095ee; }

.content-mask-checkbox input:checked + .content-mask-check .icon,
.content-mask-option .content-mask-checkbox[data-attr="enabled"] input + .content-mask-check .icon {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0) scale(1);
  stroke: #fff;
  animation: content_mask_icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards; }

.content-mask-text {
  position: relative;
  margin: auto;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5); }

.content-mask-text > input {
  letter-spacing: 1.35px;
  border: none !important;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background: #fff;
  outline: none;
  border-radius: 3px;
  font-size: 13px;
  padding: 20px 24px; }

.content-mask-select {
  position: relative;
  overflow: hidden;
  display: block;
  margin: auto;
  width: 210px;
  height: 100%;
  border-bottom: 0px;
  border-radius: 3px;
  box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5); }

.content-mask-select svg {
  width: 16px;
  stroke: #444;
  position: relative;
  top: 2px; }

.content-mask-select .option svg {
  margin-right: 10px; }

.content-mask-select > .toggle {
  pointer-events: none;
  position: absolute;
  z-index: 4;
  right: 1.5em;
  top: 1.8em;
  color: #ccc; }

.content-mask-select .title,
.content-mask-select .placeholder {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5em 2em;
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer; }

.content-mask-select > input:checked ~ .toggle.svg-arrow-down {
  display: none; }

.content-mask-select > input:checked ~ .toggle.svg-arrow-up {
  display: block; }

.content-mask-select > input:checked div.options label.option .title {
  display: none !important; }

.content-mask-select > input:not(:checked) {
  z-index: 4; }

.content-mask-select > input:not(:checked) ~ label.option > span.title {
  display: none; }

.content-mask-select > input:not(:checked) ~ .toggle.svg-arrow-up {
  display: none; }

.content-mask-select > input:not(:checked) ~ .toggle.svg-arrow-down {
  display: block; }

.content-mask-select > input:disabled {
  cursor: no-drop; }

.content-mask-select > span.placeholder {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  color: #999;
  border-top: 0px; }

.content-mask-select label.option {
  display: block;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  transition: all 1s ease-out; }

.content-mask-select label.option span.title {
  position: relative;
  z-index: 2;
  transition: background .3s ease-out; }

.content-mask-select label.option span.title i.icon {
  padding-right: 8px;
  color: #92a8d1;
  position: relative;
  top: 1px; }

.content-mask-select label.option span.title:hover {
  color: #fff;
  background: #6b96ae;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1); }

.content-mask-select input:checked ~ label.option span.title:hover svg {
  stroke: #fff; }

.content-mask-select label.option input {
  display: none; }

.content-mask-select label.option input:checked ~ span.title {
  position: absolute;
  display: block;
  z-index: 3;
  top: 0px;
  background: #fff;
  border-top: 0px;
  box-shadow: none;
  color: inherit;
  width: 100%; }

.content-mask-select-toggle {
  position: absolute !important;
  width: 100% !important;
  height: 57px !important;
  margin: 0 !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  opacity: 0; }

body.toplevel_page_content-mask #wpcontent {
  padding: 0; }

body.toplevel_page_content-mask .wrap {
  margin: 0; }

#content-mask,
body.toplevel_page_content-mask {
  background: #f7f7fa; }

body.toplevel_page_content-mask h1.headline {
  padding: 12px;
  background: #0095ee;
  color: #fff;
  text-transform: uppercase; }
body.toplevel_page_content-mask h1 svg {
  width: 24px;
  margin-bottom: -6px;
  fill: #fff; }
body.toplevel_page_content-mask h1 span {
  font-weight: 600; }
body.toplevel_page_content-mask h1 strong {
  font-weight: 900; }
body.toplevel_page_content-mask h1 .button {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #fff;
  border-radius: 0;
  margin-left: 5px;
  opacity: .8; }
body.toplevel_page_content-mask h1 [href*="paypal"] {
  opacity: 1;
  background: #0075bb; }
body.toplevel_page_content-mask h1 .button:hover {
  filter: brightness(110%);
  opacity: 1;
  background: #0095ee;
  color: #fff; }
body.toplevel_page_content-mask #mobile-nav-toggle {
  display: none;
  line-height: 0;
  height: 24px;
  width: 25px;
  padding: 5px; }
body.toplevel_page_content-mask #mobile-nav-toggle:hover {
  cursor: pointer;
  background: #22b7ff; }
body.toplevel_page_content-mask .inner {
  padding: 35px 70px; }
body.toplevel_page_content-mask a:focus {
  outline: none;
  box-shadow: none; }
body.toplevel_page_content-mask nav {
  list-style-type: none;
  border-bottom: 1px solid #e8e9ed;
  margin-bottom: 35px; }
body.toplevel_page_content-mask nav li {
  display: inline; }
body.toplevel_page_content-mask nav li a {
  text-decoration: none;
  min-width: 85px;
  display: inline-block;
  font-weight: 500;
  color: #aaa;
  font-size: 14px;
  letter-spacing: .3px;
  padding: 10px 0;
  position: relative; }
body.toplevel_page_content-mask nav li a.active {
  color: #000;
  cursor: default;
  pointer-events: none; }
body.toplevel_page_content-mask nav li a:not(.active):hover {
  color: #0095ee; }
body.toplevel_page_content-mask nav li a.active span {
  display: inline-block;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: -10px; }
body.toplevel_page_content-mask nav li a.active span:after {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 100%;
  background: #0095ee;
  bottom: -2px; }
body.toplevel_page_content-mask .content-mask-panel {
  height: 0;
  opacity: 0;
  overflow: hidden; }
body.toplevel_page_content-mask .content-mask-panel.active {
  opacity: 1;
  height: auto;
  overflow: visible; }
body.toplevel_page_content-mask .content-mask-panel table {
  border-collapse: collapse;
  margin-bottom: 16px; }
body.toplevel_page_content-mask .content-mask-panel #load-more-masks {
  border: none;
  padding: 10px 20px;
  margin: 12px 8px 0;
  border-radius: 4px;
  background: #eee;
  font-size: 16px;
  font-weight: 500; }
body.toplevel_page_content-mask .content-mask-panel #load-more-masks:hover {
  background: #0095ee;
  box-shadow: 0 3px 9px -5px #000;
  cursor: pointer;
  color: #fff; }
body.toplevel_page_content-mask .content-mask-panel #load-more-masks:focus {
  box-shadow: none; }
body.toplevel_page_content-mask .content-mask-panel tr:hover {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 6px 50px -21px; }
body.toplevel_page_content-mask .content-mask-panel tr.deleting {
  opacity: .5;
  transition: .25s all ease-out;
  transform: scale(0.95); }
body.toplevel_page_content-mask .content-mask-panel td {
  padding: 15px; }
body.toplevel_page_content-mask .content-mask-panel td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }
body.toplevel_page_content-mask .content-mask-panel td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }
body.toplevel_page_content-mask .content-mask-panel .method div {
  padding: 16px;
  border-radius: 50px;
  height: 24px;
  width: 24px; }
body.toplevel_page_content-mask .content-mask-panel .disabled .method div {
  background: #eaeaea;
  color: #999; }
body.toplevel_page_content-mask .content-mask-panel .enabled .method div {
  background: #0095ee;
  color: #fff; }
body.toplevel_page_content-mask .content-mask-panel .enabled .method div:hover {
  background: #eee;
  color: #999;
  cursor: pointer;
  box-shadow: 0 3px 15px -5px #000; }
body.toplevel_page_content-mask .content-mask-panel .disabled .method div:hover {
  background: #3cb6ff;
  opacity: .35;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 3px 15px -5px #000; }
body.toplevel_page_content-mask .content-mask-panel strong {
  font-size: 16px;
  margin-bottom: 3px;
  display: inline-block; }
body.toplevel_page_content-mask .content-mask-panel .info a {
  color: #000;
  text-decoration: none; }
body.toplevel_page_content-mask .content-mask-panel .info a:hover {
  color: #0095ee; }
body.toplevel_page_content-mask .content-mask-panel .status .label {
  padding: 1px 8px;
  display: inline-block;
  border: 1px solid #0095ee;
  color: #0095ee;
  border-radius: 20px;
  font-size: 11px; }
body.toplevel_page_content-mask .content-mask-panel .views,
body.toplevel_page_content-mask .content-mask-panel .non-user,
body.toplevel_page_content-mask .content-mask-panel .unique {
  display: none; }
body.toplevel_page_content-mask .content-mask-panel.visitor-tracking .views,
body.toplevel_page_content-mask .content-mask-panel.visitor-tracking .non-user,
body.toplevel_page_content-mask .content-mask-panel.visitor-tracking .unique {
  display: table-cell; }
body.toplevel_page_content-mask .content-mask-panel .more div {
  width: 18px;
  color: #888; }
body.toplevel_page_content-mask .content-mask-panel .more div:hover {
  cursor: pointer; }
body.toplevel_page_content-mask .content-mask-panel .meta,
body.toplevel_page_content-mask .content-mask-panel .meta a {
  font-size: 11px;
  color: #999; }
body.toplevel_page_content-mask .content-mask-panel .status .meta:before {
  content: "Expires in "; }
body.toplevel_page_content-mask .content-mask-panel .status .meta.expired:before {
  content: ""; }
body.toplevel_page_content-mask .content-mask-reloading {
  animation: 1s content_mask_reload linear infinite;
  background-color: #0095ee !important; }
body.toplevel_page_content-mask .content-mask-reloading svg {
  display: none; }
body.toplevel_page_content-mask .content-mask-reloading:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  background: #fff; }
body.toplevel_page_content-mask .more-container {
  position: relative; }
body.toplevel_page_content-mask .more-container:hover .more-nav {
  display: block; }
body.toplevel_page_content-mask .more-nav {
  display: none;
  position: absolute;
  right: 0;
  width: 150px;
  background: #fff;
  padding: 6px;
  z-index: 100;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  margin: 0;
  top: 0; }
body.toplevel_page_content-mask .more-nav svg {
  width: 16px;
  margin-right: 6px; }
body.toplevel_page_content-mask .more-nav li:last-child {
  margin-bottom: 0; }
body.toplevel_page_content-mask .more-nav a {
  text-decoration: none;
  color: #666;
  padding: 6px 12px;
  display: block;
  position: relative;
  line-height: 0;
  border-radius: 4px; }
body.toplevel_page_content-mask .more-nav a.remove-mask {
  color: #fb8a7b; }
body.toplevel_page_content-mask .more-nav a:hover {
  background: #f5f5fa; }
body.toplevel_page_content-mask .more-nav a span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
body.toplevel_page_content-mask .code-edit-wrapper {
  position: relative; }
body.toplevel_page_content-mask .code-edit-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  font-size: 24px;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  height: 0;
  width: 0;
  font-size: 0;
  box-shadow: 0 10px 25px -8px rgba(0, 0, 0, 0.5);
  transition: 1s opacity ease-out; }
body.toplevel_page_content-mask .code-edit-wrapper.error:before,
body.toplevel_page_content-mask .code-edit-wrapper.info:before {
  width: auto;
  height: auto;
  opacity: 1;
  padding: 10px 20px 12px;
  font-size: 24px; }
body.toplevel_page_content-mask .code-edit-wrapper.error:before {
  content: "Error Saving.";
  background: #ee3d96; }
body.toplevel_page_content-mask .code-edit-wrapper.info:before {
  content: "Code Saved!";
  background: #0095ee; }
body.toplevel_page_content-mask .code-edit-wrapper:after {
  content: "";
  display: block;
  height: 6px;
  background: #0095ee;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  transform: scaleX(0); }
body.toplevel_page_content-mask .code-edit-wrapper.loading:after {
  animation: content_mask_bar_reload 2.5s linear infinite; }
body.toplevel_page_content-mask .code-edit-wrapper button {
  position: absolute;
  right: 6px;
  bottom: 6px;
  z-index: 1000; }
body.toplevel_page_content-mask .CodeMirror-wrap {
  border: 1px solid #ddd;
  margin-bottom: 10px; }
body.toplevel_page_content-mask .content-mask-hover-help {
  padding: 0 5px;
  background: #fff;
  color: #0095ee;
  border: 1px dashed;
  border-radius: 10px;
  margin-left: 6px;
  opacity: 1;
  position: relative; }
body.toplevel_page_content-mask .content-mask-hover-help:before {
  transition: 0.2s opacity ease-out, 0.35s transform cubic-bezier(0.67, 0.62, 0.26, 1.54);
  transform: translate(-50%, -50%) scale(0.5);
  transform-origin: center center;
  content: attr(data-help);
  font-size: 0;
  opacity: 0;
  position: absolute;
  width: 200px;
  display: block;
  word-wrap: normal;
  white-space: normal;
  line-height: 1.62;
  color: #000;
  top: 50%;
  left: 50%;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.75);
  z-index: 999999; }
body.toplevel_page_content-mask .content-mask-hover-help:hover:before {
  font-size: 12px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1; }
body.toplevel_page_content-mask.edit-php .column-content-mask {
  position: relative; }
body.toplevel_page_content-mask.edit-php .column-content-mask .content-mask-method div:not(:empty) {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden; }
body.toplevel_page_content-mask.edit-php .column-content-mask .content-mask-method svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 10px;
  stroke: #000; }
body.toplevel_page_content-mask.edit-php .column-content-mask .content-mask-method svg.content-mask-reloading {
  stroke: #fff !important; }
body.toplevel_page_content-mask.edit-php .column-content-mask .content-mask-method.enabled > div {
  background: #0095ee; }
body.toplevel_page_content-mask.edit-php .column-content-mask .content-mask-method.enabled div:not(:empty) {
  box-shadow: 0 0 0 1px #0095ee; }
body.toplevel_page_content-mask.edit-php .column-content-mask .content-mask-method.disabled div:not(:empty) {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.175); }
body.toplevel_page_content-mask.edit-php .column-content-mask .content-mask-method.enabled svg {
  stroke: #fff; }
body.toplevel_page_content-mask.edit-php .column-content-mask .content-mask-method div:hover {
  cursor: pointer;
  background: #55bfff !important;
  opacity: 1; }
body.toplevel_page_content-mask.edit-php .column-content-mask .content-mask-method div:hover svg {
  stroke: #fff; }
body.toplevel_page_content-mask.edit-php .column-content-mask .content-mask-method div.content-mask-reloading {
  animation: 1s content_mask_reload linear infinite;
  background-color: #0095ee !important; }
body.toplevel_page_content-mask #content-mask-options .content-mask-option.content-mask-reloading .content-mask-checkbox input + .content-mask-check {
  animation: 1s option_reload linear infinite;
  background-color: #0095ee !important; }
body.toplevel_page_content-mask #content-mask-advanced .grid {
  margin-bottom: 30px; }
body.toplevel_page_content-mask div.content-mask-reloading svg {
  display: none; }
body.toplevel_page_content-mask div.content-mask-reloading:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  background: #fff; }

.blur #content-mask {
  filter: blur(1px) brightness(80%);
  box-shadow: 0 0 10px 10px #000; }

#content-mask-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.content-mask-modal {
  text-align: center;
  width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 50px -17px; }

.content-mask-modal svg {
  width: 60px; }

.content-mask-modal.warning {
  border-top: 7px solid #0095ee; }

.content-mask-modal svg {
  color: #0095ee; }

.content-mask-modal.warning {
  border-top: 7px solid #ee3d69; }

.content-mask-modal.warning svg {
  color: #ee3d69; }

.content-mask-modal p {
  font-size: 14px;
  color: #999;
  letter-spacing: .3px; }

.content-mask-modal button {
  border: none;
  padding: 10px 20px;
  margin: 12px 8px 0;
  border-radius: 4px;
  background: #eee;
  font-size: 16px;
  font-weight: 500; }

.content-mask-modal button:hover {
  background: #0095ee;
  box-shadow: 0 3px 9px -5px #000;
  cursor: pointer;
  color: #fff; }

#content-mask-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 80%; }

.content-mask-message-content {
  background: #0095ee;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.625;
  padding: 10px 20px !important;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 6px 35px -8px #000; }

.content-mask-message-content.error,
.content-mask-message-content.warning {
  background: #ee3d69; }

.content-mask-spinner {
  margin: 10px auto 0;
  width: 70px;
  text-align: center;
  height: 35px; }

.content-mask-spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  animation: content_mask_loading 1.4s infinite ease-in-out both; }

.content-mask-spinner .bounce1 {
  animation-delay: -0.32s; }

.content-mask-spinner .bounce2 {
  animation-delay: -0.16s; }

/**
 * Grid Layout
 *
 * I personally prefer CSS Grid, but I need to provide fallbacks because clients
 * or client's clients have weird browser reqs. This grid I designed falls back
 * to Flexbox, or falls way back to inline-block with 0 whitespace if flex fails.
 *
 * Grid types gracefully degrade; CSS Grid > Flexbox > Inline-Block > Ungrid
 * 
 * Grid types can be overwritten with the `grid="GRID-TYPE"` attribute.
 */
[grid] > *,
.grid > * {
  width: 100%;
  box-sizing: border-box; }

@media (min-width: 800px) {
  @supports (not (display: grid)) and (not (display: flex)) {
    .grid,
    .grid[grid="inline-block"] {
      font-size: 0;
      vertical-align: top; }

    .grid > *, .grid[grid="inline-block"] > *,
    .grid[columns="1"] > *, .grid[grid="inline-block"] > * {
      width: 100%;
      margin: 0;
      display: inline-block;
      font-size: initial; }

    .grid[columns="2"] > *, .grid[grid="inline-block"] > * {
      width: 50%; }

    .grid[columns="3"] > *, .grid[grid="inline-block"] > * {
      width: 33.3333%; }

    .grid[columns="4"] > *, .grid[grid="inline-block"] > * {
      width: 25%; }

    .grid[columns="6"] > *, .grid[grid="inline-block"] > * {
      width: 16.6666%; }

    .grid[columns="12"] > *, .grid[grid="inline-block"] > * {
      width: 8.3333%; }

    .grid [col-span="1"], .grid[grid="inline-block"] [col-span="1"] {
      width: 8.3333%; }

    .grid [col-span="2"], .grid[grid="inline-block"] [col-span="2"] {
      width: 16.6666%; }

    .grid [col-span="3"], .grid[grid="inline-block"] [col-span="3"] {
      width: 25%; }

    .grid [col-span="4"], .grid[grid="inline-block"] [col-span="4"] {
      width: 33.3333%; }

    .grid [col-span="5"], .grid[grid="inline-block"] [col-span="5"] {
      width: 41.6666%; }

    .grid [col-span="6"], .grid[grid="inline-block"] [col-span="6"] {
      width: 50%; }

    .grid [col-span="7"], .grid[grid="inline-block"] [col-span="7"] {
      width: 58.3333%; }

    .grid [col-span="8"], .grid[grid="inline-block"] [col-span="8"] {
      width: 66.6666%; }

    .grid [col-span="9"], .grid[grid="inline-block"] [col-span="9"] {
      width: 75%; }

    .grid [col-span="10"], .grid[grid="inline-block"] [col-span="10"] {
      width: 83.3333%; }

    .grid [col-span="11"], .grid[grid="inline-block"] [col-span="11"] {
      width: 91.6666%; }

    .grid [col-span="12"], .grid[grid="inline-block"] [col-span="12"] {
      width: 100%; } }
  @supports (display: flex) {
    .grid,
    .grid[grid="flexbox"] {
      display: flex;
      flex-wrap: wrap; }

    .grid > *, .grid[grid="flexbox"] > *,
    .grid[columns="1"] > *, .grid[grid="flexbox"][columns="1"] > * {
      flex: calc( 100% / 1); }

    .grid[columns="2"] > *, .grid[grid="flexbox"][columns="2"] > * {
      flex: calc( 100% / 2 ); }

    .grid[columns="3"] > *, .grid[grid="flexbox"][columns="3"] > * {
      flex: calc( 100% / 3 ); }

    .grid[columns="4"] > *, .grid[grid="flexbox"][columns="4"] > * {
      flex: calc( 100% / 4 ); }

    .grid[columns="6"] > *, .grid[grid="flexbox"][columns="6"] > * {
      flex: calc( 100% / 6 ); }

    .grid[columns="12"] > *, .grid[grid="flexbox"][columns="12"] > * {
      flex: calc( 100% / 12 ); }

    .grid [col-span="1"], .grid[grid="flexbox"] [col-span="1"] {
      flex: calc( ( 100% / 12 ) * 1 ); }

    .grid [col-span="2"], .grid[grid="flexbox"] [col-span="2"] {
      flex: calc( ( 100% / 12 ) * 2 ); }

    .grid [col-span="3"], .grid[grid="flexbox"] [col-span="3"] {
      flex: calc( ( 100% / 12 ) * 3 ); }

    .grid [col-span="4"], .grid[grid="flexbox"] [col-span="4"] {
      flex: calc( ( 100% / 12 ) * 4 ); }

    .grid [col-span="5"], .grid[grid="flexbox"] [col-span="5"] {
      flex: calc( ( 100% / 12 ) * 5 ); }

    .grid [col-span="6"], .grid[grid="flexbox"] [col-span="6"] {
      flex: calc( ( 100% / 12 ) * 6 ); }

    .grid [col-span="7"], .grid[grid="flexbox"] [col-span="7"] {
      flex: calc( ( 100% / 12 ) * 7 ); }

    .grid [col-span="8"], .grid[grid="flexbox"] [col-span="8"] {
      flex: calc( ( 100% / 12 ) * 8 ); }

    .grid [col-span="9"], .grid[grid="flexbox"] [col-span="9"] {
      flex: calc( ( 100% / 12 ) * 9 ); }

    .grid [col-span="10"], .grid[grid="flexbox"] [col-span="10"] {
      flex: calc( ( 100% / 12 ) * 10 ); }

    .grid [col-span="11"], .grid[grid="flexbox"] [col-span="11"] {
      flex: calc( ( 100% / 12 ) * 11 ); }

    .grid [col-span="12"], .grid[grid="flexbox"] [col-span="12"] {
      flex: calc( ( 100% / 12 ) * 12 ); } }
  @supports (display: grid) {
    .grid,
    .grid[grid="css-grid"] {
      display: grid;
      grid-gap: 0;
      grid-template-columns: repeat(12, 1fr); }

    .grid[gap] {
      grid-gap: 20px; }

    .grid > *, .grid[grid="css-grid"] > *,
    .grid[columns="1"] > *, .grid[grid="css-grid"][columns="1"] > * {
      grid-column: auto/span 12; }

    .grid[columns="2"] > *, .grid[grid="css-grid"][columns="2"] > * {
      grid-column: auto/span 6; }

    .grid[columns="3"] > *, .grid[grid="css-grid"][columns="3"] > * {
      grid-column: auto/span 4; }

    .grid[columns="4"] > *, .grid[grid="css-grid"][columns="4"] > * {
      grid-column: auto/span 3; }

    .grid[columns="6"] > *, .grid[grid="css-grid"][columns="6"] > * {
      grid-column: auto/span 2; }

    .grid[columns="12"] > *, .grid[grid="css-grid"][columns="12"] > * {
      grid-column: auto/span 1; }

    .grid [col-span="1"], .grid[grid="css-grid"] [col-span="1"] {
      grid-column: auto/span 1; }

    .grid [col-span="2"], .grid[grid="css-grid"] [col-span="2"] {
      grid-column: auto/span 2; }

    .grid [col-span="3"], .grid[grid="css-grid"] [col-span="3"] {
      grid-column: auto/span 3; }

    .grid [col-span="4"], .grid[grid="css-grid"] [col-span="4"] {
      grid-column: auto/span 4; }

    .grid [col-span="5"], .grid[grid="css-grid"] [col-span="5"] {
      grid-column: auto/span 5; }

    .grid [col-span="6"], .grid[grid="css-grid"] [col-span="6"] {
      grid-column: auto/span 6; }

    .grid [col-span="7"], .grid[grid="css-grid"] [col-span="7"] {
      grid-column: auto/span 7; }

    .grid [col-span="8"], .grid[grid="css-grid"] [col-span="8"] {
      grid-column: auto/span 8; }

    .grid [col-span="9"], .grid[grid="css-grid"] [col-span="9"] {
      grid-column: auto/span 9; }

    .grid [col-span="10"], .grid[grid="css-grid"] [col-span="10"] {
      grid-column: auto/span 10; }

    .grid [col-span="11"], .grid[grid="css-grid"] [col-span="11"] {
      grid-column: auto/span 11; }

    .grid [col-span="12"], .grid[grid="css-grid"] [col-span="12"] {
      grid-column: auto/span 12; }

    .grid [row-span="2"], .grid[grid="css-grid"] [row-span="2"] {
      grid-row: auto/span 2; }

    .grid [row-span="3"], .grid[grid="css-grid"] [row-span="3"] {
      grid-row: auto/span 3; }

    .grid [row-span="4"], .grid[grid="css-grid"] [row-span="4"] {
      grid-row: auto/span 4; }

    .grid [row-span="5"], .grid[grid="css-grid"] [row-span="5"] {
      grid-row: auto/span 5; }

    .grid [row-span="6"], .grid[grid="css-grid"] [row-span="6"] {
      grid-row: auto/span 6; } } }
@media (max-width: 1200px) {
  .content-mask-url-container {
    float: none;
    width: 100%;
    clear: both;
    padding-top: 24px; }

  .content-mask-method-container {
    left: 115px;
    right: auto;
    width: calc( 100% - 151px ); }

  .content-mask-method-container .content-mask-select {
    width: 100%; }

  .content-mask-expiration-div {
    text-align: left; }

  .content-mask-expiration-header {
    right: auto;
    left: 0; }

  .content-mask-expiration-container {
    display: inline-block;
    width: calc( 100% - 255px ); }

  .content-mask-expiration-container .content-mask-select {
    width: 100%; } }
@media (max-width: 1024px) {
  body.toplevel_page_content-mask #header-nav {
    display: none;
    position: absolute;
    top: 54px;
    right: 0px;
    background: #0095ee;
    width: auto;
    max-width: 200px;
    z-index: 99999; }

  body.toplevel_page_content-mask #header-nav .button {
    display: block;
    width: 100%;
    padding: 10px 10px 10px 28px;
    height: auto; }

  body.toplevel_page_content-mask #mobile-nav-toggle {
    display: inline-block;
    float: right; }

  .content-mask-panel tr {
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px; }

  .content-mask-panel td {
    display: inline-block;
    box-sizing: border-box; }

  .content-mask-panel td.method {
    width: 86px;
    height: 86px;
    float: left; }

  .content-mask-panel td.status {
    width: auto;
    height: 86px;
    float: left; }

  .content-mask-panel td.info {
    width: 100%;
    display: block;
    clear: both; }

  .content-mask-panel td.type {
    width: auto;
    float: left; }

  .content-mask-panel td.more {
    display: block;
    width: 100%; }

  .content-mask-panel td.more:after {
    content: "";
    display: block;
    clear: both; }

  .content-mask-panel .more > div {
    float: right; } }
@media (max-width: 600px) {
  body.toplevel_page_content-mask #header-nav {
    top: 100px; }

  body.toplevel_page_content-mask .inner {
    padding: 10px 20px; } }
@media (max-width: 520px) {
  .content-mask-expiration-div {
    text-align: left; }

  .content-mask-method-container,
  .content-mask-expiration-container {
    position: relative;
    left: 0;
    width: 100%; }

  .content-mask-select {
    width: 100%; }

  .content-mask-enable-container {
    float: none;
    margin-bottom: 24px;
    margin: 0 auto 24px; } }
@keyframes content_mask_reload {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg); }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg); } }
@keyframes content_mask_bar_reload {
  0% {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left center; }
  49% {
    transform-origin: left center; }
  50% {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: right center; }
  100% {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: right center; } }
@keyframes option_reload {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg); }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg); } }
@keyframes content_mask_icon {
  0% {
    -webkit-opacity: 0;
    -ms-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0.3);
    -ms-transform: translate3d(-50%, -50%, 0) scale(0.3);
    -moz-transform: translate3d(-50%, -50%, 0) scale(0.3);
    -o-transform: translate3d(-50%, -50%, 0) scale(0.3);
    transform: translate3d(-50%, -50%, 0) scale(0.3); }
  100% {
    -webkit-opacity: 1;
    -ms-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
    -ms-transform: translate3d(-50%, -50%, 0) scale(1);
    -moz-transform: translate3d(-50%, -50%, 0) scale(1);
    -o-transform: translate3d(-50%, -50%, 0) scale(1);
    transform: translate3d(-50%, -50%, 0) scale(1); } }
@keyframes content_mask_check {
  100% {
    width: 52px;
    height: 52px;
    border: 2px solid #FFF;
    background: #0095ee; } }
@keyframes content_mask_loading {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=admin.css.map */
